.HomePage{
    height: 120%;
    scroll-snap-align: start;
    box-sizing: border-box;
    position: relative;
    top: 0%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}
@media screen and (max-width:700px) {
    .Homepage{
        height: 100%;
    }
    .HomePage h1{
        width: 80%;
        font-size: 60px;
        margin-left: 30px;
    }
}