.project-section-container{
    width: 100%;
    height: 500px;
    display: flex;
    gap: 5px;
    margin-bottom: 50px;
}
.project-unit{
    flex: 1;
    transition: flex 0.7s ease;
    cursor: pointer;
}
.project-unit:hover{
    flex: 10;
}
.project-unit img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
