.project-section-container{
    box-sizing: border-box;
    padding: 30px;
    height: 100%;
    display: flex;
    gap: 5px;
}
.project-unit{
    flex: 1;
    transition: flex 0.7s ease;
    cursor: pointer;
}
.project-unit:hover{
    flex: 10;
}
.project-unit img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
